@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

/* --------------------HEADER-------------------- */
#header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed; /* Fix the header position */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Ensure it's above other content */
}

#current-events {
    background-color: #151515;
    padding: 10px;
    width: 100%;
}

#text-container {
    text-align: center;
    color: #FFFFFF
}

#live-events {
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 2px;
    font-weight: 200;
}

#more-info {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#more-info .highlight {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 1);
}

/* --------------------NAV BAR-------------------- */
#nav {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#nav-logo {
    height: 35px;
    margin: 10px;
}

#nav-hamburger {
    height: 27px;
    margin-right: 20px;
    display: block;
    cursor: pointer;
}

/* -------------------NAV PANEL-------------------- */
@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
@keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }  

#nav-panel {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 400px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    z-index: 1000;
    animation: slideIn 0.3s ease forwards;
}

#nav-panel.closing {
    animation: slideOut 0.3s ease forwards; /* Apply slide-out animation */
  }

#nav-buttons {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: auto;
}

#nav-panel a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #EA0029;
    margin-bottom: 25px;
}

/* --------------------SIGN-IN POP-UP-------------------- */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

@keyframes fadeInPopup {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeOut {
    animation: fadeOutPopup 0.3s ease forwards;
}

@keyframes fadeOutPopup {
    from { opacity: 1; }
    to { opacity: 0; }
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    opacity: 0;
    animation: fadeInPopup 0.3s ease forwards;
}

.close-btn {
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-content p {
    margin-top: 0;
}

.popup-text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#sign-in-logo {
    height: 60px;
    margin-top: 10px;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#sign-in-email,
#sign-in-password {
    width: 100%;
    padding: 8px;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    box-sizing: border-box;
}

#sign-in-email {
    margin-bottom: 20px;
}

#sign-in-password {
    margin-bottom: 13px;
}

input::placeholder {
    color: #999999;
}

#remember-me {
    transform: scale(1.5); 
    margin-left: 4px;
    margin-right: 6px;
    margin-bottom: 10px;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #EA0029;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

button[type="submit"]:hover {
    background-color: #c10023;
}

#to-register-container {
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-register-btn {
    background-color: transparent;
    border: none;
    color: #EA0029;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-register-btn:hover {
    color: #c10023;
}

/* --------------------REGISTER POP-UP-------------------- */
#register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#name,
#register-email,
#contact-number,
#register-password,
#confirm-password {
    width: 100%;
    padding: 8px;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#to-sign-in-container {
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-sign-in-btn {
    background-color: transparent;
    border: none;
    color: #EA0029;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-sign-in-btn:hover {
    color: #c10023;
}

#buffer {
    height: 121px;
}

/* --------------------PAST EVENTS SLIDESHOW-------------------- */
#past-events {
    position: relative;
    animation: fadeInFromLeft 1.5s ease;
}

#slides-container {
    position: relative;
}

.red-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #EA0029
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

.slides {
    animation: fadeInSlideshow 1s ease forwards;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    transform: translateY(2px);
}

.slides img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

@keyframes fadeInSlideshow {
    from {opacity: .5} 
    to {opacity: 1}
}

#dots {
    text-align: center;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #E8E8E8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active {
    background-color: #EA0029;
}


/* --------------------UPCOMING EVENTS-------------------- */

#upcoming-events {
    padding-top: 17px;
    margin-bottom: 20px;
}

#upcoming-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#upcoming-events-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#upcoming-search-container {
    display: flex;
    align-items: center;
}

#upcoming-filter-icon {
    height: 27px;
    display: block;
    cursor: pointer;
}

#upcoming-filter-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#upcoming-filter-popup .popup-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#upcoming-filter-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
    width: 100%; /* Set the form width to full */
}

.filter-option-title {
    font-weight: bold; /* Make all labels bold */
    padding-top: 14px;
}

#event-type-checkboxes {
    width: 85%; /* Adjust the width of the checkboxes */
}

#location,
#start-date,
#end-date {
    width: 60%; /* Adjust the width of the input bars */
}

#upcoming-filter-form label, 
#filter-form input, 
#filter-form select, 
#filter-form button {
    margin: 11px 0;
}

#apply-filters-btn {
    margin-top: 40px;
}

#upcoming-search-container {
    display: flex;
    align-items: center;
}

#upcoming-search-icon {
    color: #333;
    height: 10px;
    width: 10px;
}

#upcoming-search-bar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #15151540;
    border-radius: 25px; 
    width: 120px; /* Adjusts the width of the search bar */
    height: 20px;
}

#upcoming-search-input {
    border: none;
    outline: none;
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    width: 95px;
}

#upcoming-search-input::placeholder {
    color: #CCCCCC; /* Adjusts placeholder text color */
}

#upcoming-search-bar,
#upcoming-search-icon:hover {
    cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}

#add-upcoming-event {
    display: flex;
    justify-content: center;
    margin: 7px 0;
}

#add-upcoming-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94.3%;
    max-width: 800px;
    height: 33px;
    background-color: #EA0029;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

#add-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

#add-upcoming-event-popup {
    display: none;
    position: fixed;
    top: 124px;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
    background-color: white;
    z-index: 1000;
}

#close-popup-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
}

#popup-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#add-upcoming-event-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#upcoming-events-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0px 0;
    margin-left: 10px;
    position: relative;
}

.upcoming-slide {
    flex: 0 0 auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.upcoming-edit-icon {
    position: absolute;
    top: 10px;  
    right: 10px;  
    width: 24px;  
    height: 24px;  
    cursor: pointer;
    background-color: rgba(74, 74, 74, 0.31); 
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.upcoming-poster {
    height: 400px;
}

.event-preview {
    text-align: left;
    font-family: "Poppins", sans-serif;
    background-color: #F9F9F9;
}

.preview-text {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.preview-date {
    font-size: 12px;
    font-weight: 400;
    color: #151515;
}

.preview-title {
    font-size: 15px;
    font-weight: 500;
    color: #B80022;
}

#upcoming-events-slider::-webkit-scrollbar {
    width: 8px;
    height: 2px;
    border-bottom: none;
}

#upcoming-events-slider::-webkit-scrollbar-track {
    background: #E9E9E9; /* Track color */
}

#upcoming-events-slider::-webkit-scrollbar-thumb {
    background: #EA0029; /* Handle color */
}

/* --------------------UPCOMING EVENTS POPUPS-------------------- */
.event-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.event-popup-content img {
    width: 100%;
    height: auto;
}

.event-popup-content {
    background-color: #fefefe;
    width: 85%;
    max-width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    opacity: 0;
    animation: fadeInPopup 0.3s ease forwards;
}

.event-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.event-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.merch-presale-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #B80022;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 6px;
    margin-bottom: 10px;
}

/* --------------------BOOKING SECTION-------------------- */
#booking {
    background-color: #F7F7F7;
    position: relative;
    padding-bottom: 13px;
}

#red-rectangle {
    width: 80%;
    height: 220px;
    background-color: #B80022;
    margin: 25px auto 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.4);
}

#booking img {
    position: relative;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    height: 255px;
}

#showstopper-text {
    text-align: center;
    margin-top: 60px;
}

#showstopper-text p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    font-size: 23px;
    line-height: 1;
}

#booking-subtext {
    margin-top: 17px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

#book-now-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px; 
    background-color: #EA0029;
    color: white;
    border: none;
    border-radius: 800px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    font-size: 14px;
}

/* ------------------PAST EVENTS ---------------- */

.past-events-frame {
    border-top: 1px solid rgba(230,230,230,255);
    padding-bottom: 15px;
}

#past-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0px 15px;
}

#past-events-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#past-search-container {
    display: flex;
    align-items: center;
}

#past-filter {
    height: 27px;
    display: block;
    cursor: pointer;
}

#past-search-container {
    display: flex;
    align-items: center;
}

#past-search-icon {
    color: #333;
    height: 10px;
    width: 10px;
}

#past-search-bar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #15151540;
    border-radius: 25px; 
    width: 120px; /* Adjusts the width of the search bar */
    height: 20px;
}

#past-search-input {
    border: none;
    outline: none;
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    width: 95px;
}

#past-search-input::placeholder {
    color: #CCCCCC; /* Adjusts placeholder text color */
}

#past-search-bar,
#past-search-icon:hover {
    cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}

.pastEvent {
    width: 340px;
    padding: 15px 25px;
    align-items: center;
}

.pastEvent-image {
    height: 328px;
    width: 340px;
    object-fit: cover;
    object-position: 50% 10%;
}

.pastEvent-detailBox {
    height: 119px;
    width: 340px;
    background-color: rgba(234, 0, 41, 1);
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.pastEvent-details {
    font-family: "Poppins", sans-serif;
    width: 340px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.04px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/* ------------------PAST EVENT POPUP---------------- */

.past-event-popup-content {
    width: 390px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}

.event-details {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.popupImage-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowPopup {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 50%;
}

.arrowPopup.left {
    left: 10px; 
    background-image: url("../images/3-aboutUs/leftArrow.png");
}

.arrowPopup.right {
    right: 10px;
    background-image: url("../images/3-aboutUs/rightArrow.png");
}

.arrowPopup.left:hover,
.arrowPopup.right:hover{
    filter: brightness(0%);
}

/* ---------------------ABOUT-------------------- */

#aboutUs-frame{
    width: 100%;
    height: 304px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
}

.aboutUs-framePicture {
    width: 50%;
    object-fit: cover;
    object-position: 40% 60%; /* 30% from the left, 70% from the top */
}

.aboutUs-frameTitle{
    width: 50%;
    float: right;
    display: flex; 
    background-color: rgb(247,247,247,255);
    align-items: center;
    /* Center vertically */
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 255);
    padding: 30px;
}

.aboutUs-details{
    background-color: #EA0029;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 22.5px;
    color: #FFFFFF;
    padding: 50px 60px;
    position: relative; /* Ensure z-index works */
    z-index: 0; /* Lower stacking order */
}

#servicesFrame {
    background-color: #F7F7F7;
    height: 397px;
    width: 100%;
    padding: 0px;
}

.serviceTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service {
    position: relative;
    background-color: #EA0029;
    margin: auto;
    width: 350px;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
}

.arrow {
    position: absolute;
    top: 37%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.arrow.left {
    left: 5px;
    background-image: url("../images/3-aboutUs/leftArrow.png");
}

.arrow.right {
    right: 5px;
    background-image: url("../images/3-aboutUs/rightArrow.png");
}

.arrow.left:hover,
.arrow.right:hover{
    filter: brightness(0%);
}

.servicePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    width: 60%;
    object-fit: cover;
}

.serviceDescription {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
    padding: 10px 0px;
}

.aboutUs-visitFrame {
    height: 640px;
    width: 100%;
    background: rgba(184, 0, 34, 1);
}

#aboutUs-visitPicture {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.aboutUs-visitText {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: rgba(255, 242, 234, 1);
    padding: 40px 35px;
}

#aboutUs-visitTextHeader {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 800;
    line-height: 54px;
    text-align: left;    
}

#aboutUs-visitButton {
    width: 140px;
    height: auto;
    padding: 70px 0px 30px;
}

#aboutUs-visitButtonText {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 5px 20px;
}

/* --------------------FOOTER-------------------- */
#footer {
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
}

#contact-us {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 23px;
    padding-left: 23px;
    letter-spacing: 1.2px;
    line-height: 20px;
}

#contact-details {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 22px;
    padding-top: 4px;
    padding-left: 23px;
}

#socials {
    padding-top: 20px;
    padding-bottom: 23px;
    padding-left: 21px;
}

.socials-icon {
    height: 21px;
    width: 22px;
    margin-right: 9px;
    cursor: pointer;
}