<div id="booking">
            <div id="red-rectangle"></div>

            <img src="../images/1-index/booking-taylor.png" alt="Booking Taylor">

            <div id="showstopper-text">
                <p>LET'S CREATE THE NEXT</p>
                <p>SHOWSTOPPER.</p>
            </div>

            <div id="booking-subtext">
                <p>Book an appointment with us!</p>
            </div>

        </div>