<!--
<div id="header"> 
              
            <div id="current-events">
                <div id="text-container">
                    <p id="live-events">Show here current live events</p>
                    <p id="more-info">For more information <span class="highlight" style="cursor: pointer;" onclick="window.location.href='2-events.hbs';">Click Here</span></p>
                </div>
            </div>


            <div id="nav">
                <a href="/">
                    <img id="nav-logo" src="../images/1-index/nav-logo.png" alt="logo">
                </a>
                
                <img id="nav-hamburger" src="../images/1-index/nav-hamburger.png" alt="menu hamburger">
        
                <div id="nav-panel">
                    <div id="nav-buttons">
                        <a href="/">Home</a>
                        <a href="3-about.hbs">About Us</a>
                        <a href="2-events.hbs">Events</a>
                        <a href="#">Bookings</a>
                        <a href="#">Merchandise</a>
                        <a href="#" id="sign-in-link">Sign In</a>
                        <a href="/" action="/logout" method="post">Log Out</a>
                    </div>
                    
                </div>
            </div>
            
            <div class="red-bar bottom-bar"></div>
        </div>-->