<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SX Manila | Events </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/1-index.css">
    </head>

    <style>
        
    </style>
    <body>
        <!--------------------HEADER-------------------->
        <div id="header">   
            <div id="current-events">
                <div id="text-container">
                    <p id="live-events">Show here current live events</p>
                    <p id="more-info">For more information <span class="highlight" style="cursor: pointer;" onclick="window.location.href='2-events.hbs';">Click Here</span></p>
                </div>
            </div>

            <div id="nav">
                <a href="/">
                    <img id="nav-logo" src="../images/1-index/nav-logo.png" alt="logo">
                </a>
                
                <img id="nav-hamburger" src="../images/1-index/nav-hamburger.png" alt="menu hamburger">
        
                <div id="nav-panel">
                    <div id="nav-buttons">
                        <a href="/">Home</a>
                        <a href="3-about.hbs">About Us</a>
                        <a href="2-events.hbs">Events</a>
                        <a href="#">Bookings</a>
                        <a href="#">Merchandise</a>
                        <a href="#" id="sign-in-link">Sign In</a>
                        <a href="/">Log Out</a>
                    </div>
                    
                </div>
            </div>
            
            <div class="red-bar bottom-bar"></div>
        </div>

        <!--------------------SIGN IN-------------------->
        <div id="sign-in-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <img id="sign-in-logo" src="../images/1-index/nav-logo.png" alt="logo">

                <p class="popup-text">Welcome back</p>

                <form id="sign-in-form" action="/signin" method="post">
                    <input type="text" id="sign-in-email" name="email" placeholder="Email">
                    
                    <input type="password" id="sign-in-password" name="password" placeholder="Password">
                    
                    <label for="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me"> Remember me
                    </label>
                    
                    <button type="submit" id="sign-in-btn">Sign In</button>
                </form>

                <div id="to-register-container">
                    <p>No account yet? <button id="to-register-btn">Register</button>.</p>
                </div>
            </div>
        </div>

        <!--------------------REGISTER-------------------->
        <div id="register-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <p class="popup-text">Register</p>

                <form id="register-form" action="/register" method="post">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">

                    <label for="register-email">Email</label>
                    <input type="text" id="register-email" name="email">

                    <label for="contact-number">Contact Number</label>
                    <input type="text" id="contact-number" name="contactNumber">

                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="password">

                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password">

                    <button type="submit" id="register-btn">Register</button>
                </form>

                <div id="to-sign-in-container">
                    <p>Have an account already? <button id="to-sign-in-btn">Sign In</button>.</p>
                </div>
            </div>
        </div>

        <!--------------------PAST EVENTS-------------------->

        <div class="past-events-frame">
            <div id="past-events-header">
                <div id="past-search-container">
                    <div id="past-filter">
                        <img src="../images/2-events/past-filter.png" alt="filter icon" id="past-filter">
                    </div>
                    <div id="past-search-bar">
                        <input type="text" id="past-search-input" placeholder="Search">
                        <img src="../images/2-events/past-search.png" alt="search icon" id="past-search-icon">
                    </div>
                </div>
            </div>
            <p id="past-events-title">Past Events</p>
            <div class="pastEventList">
            <!-- Hard-coded events based on JavaScript data -->
                <div class="pastEvent">
                    <img class="pastEvent-image" src="../images/2-events/bocchi-event.jpg" alt="Hitori Gotoh - Lead Guitarist">
                    <div class="pastEvent-detailBox">
                        <span class="pastEvent-details">Hitori Gotoh - Lead Guitarist</span>
                    </div>
                    <!-- Gallery for event images -->
                    <div class="event-gallery">
                        <img src="../images/2-events/bocchi1.jpg" alt="Event Image 1">
                        <img src="../images/2-events/bocchi2.jpg" alt="Event Image 2">
                        <img src="../images/2-events/bocchi3.jpg" alt="Event Image 3">
                        <img src="../images/2-events/bocchi4.jpg" alt="Event Image 4">
                        <img src="../images/2-events/bocchi5.jpg" alt="Event Image 5">
                    </div>
                </div>
                <div class="pastEvent">
                    <img class="pastEvent-image" src="../images/2-events/kita-event.jpg" alt="Ikuyo Kita - Vocalist/Guitarist">
                    <div class="pastEvent-detailBox">
                        <span class="pastEvent-details">Ikuyo Kita - Vocalist/Guitarist</span>
                    </div>
                    <!-- Gallery for event images -->
                    <div class="event-gallery">
                        <img src="../images/2-events/kita1.jpg" alt="Event Image 1">
                        <img src="../images/2-events/kita2.jpg" alt="Event Image 2">
                        <img src="../images/2-events/kita3.jpg" alt="Event Image 3">
                        <img src="../images/2-events/kita4.jpg" alt="Event Image 4">
                        <img src="../images/2-events/kita5.jpg" alt="Event Image 5">
                    </div>
                </div>
                <div class="pastEvent">
                    <img class="pastEvent-image" src="../images/2-events/nijika-event.jpg" alt="Nijika Ijichi - Drummer">
                    <div class="pastEvent-detailBox">
                        <span class="pastEvent-details">Nijika Ijichi - Drummer</span>
                    </div>
                    <!-- Gallery for event images -->
                    <div class="event-gallery">
                        <img src="../images/2-events/nijika1.jpg" alt="Event Image 1">
                        <img src="../images/2-events/nijika2.jpg" alt="Event Image 2">
                        <img src="../images/2-events/nijika3.jpg" alt="Event Image 3">
                        <img src="../images/2-events/nijika4.jpg" alt="Event Image 4">
                        <img src="../images/2-events/nijika5.jpg" alt="Event Image 5">
                    </div>
                </div>
                <div class="pastEvent">
                    <img class="pastEvent-image" src="../images/2-events/ryo-event.webp" alt="Ryo Yamada - Bassist">
                    <div class="pastEvent-detailBox">
                        <span class="pastEvent-details">Ryo Yamada - Bassist</span>
                    </div>
                    <!-- Gallery for event images -->
                    <div class="event-gallery">
                        <img src="../images/2-events/ryo1.jpg" alt="Event Image 1">
                        <img src="../images/2-events/ryo2.jpg" alt="Event Image 2">
                        <img src="../images/2-events/ryo3.jpg" alt="Event Image 3">
                        <img src="../images/2-events/ryo4.jpg" alt="Event Image 4">
                        <img src="../images/2-events/ryo5.jpg" alt="Event Image 5">
                    </div>
                </div>
                <script>console.log("zerochekcpoint")</script>
                {{#each eventsData}}
                    <script>console.log("firstchekcpoint")</script>
                    <div class="pastEvent">
                        <script>console.log("second")</script>
                        <img class="pastEvent-image" src="{{this.cover}}" alt="{{this.title}}">
                        <div class="pastEvent-detailBox">
                            <span class="pastEvent-details">{{this.title}}</span>
                        </div>
                        <!-- Gallery for event images -->
                        <script>console.log("third")</script>
                        {{#each this.gallery}}
                            <div class="event-gallery">
                                <img src="{{this}}" alt="Event Image">
                            </div>
                        {{/each}}
                        <script>console.log("last")</script>
                    </div>
                {{/each}}
            </div>
        </div>


        <!--------------------PAST EVENTS POPUPS-------------------->
        <div id="past-event-popup" class="event-popup">
            <div class="event-popup-content past-event-popup-content">
                <div id="past-event-details" class="event-details"></div>
                <div class="popupImage-container">
                    <div class="arrowPopup left"></div>
                    <img id="past-event-image" class="event-image" src="" alt="Past Event Image">
                    <div class="arrowPopup right"></div>
                </div>
            </div>
        </div>
        

        <div id="footer">
            <p id="contact-us">CONTACT US</p>

            <div id="contact-details">
                <p>example@gmail.com</p>
                <p>+63 9XX XXXX</p>
            </div>

            <div id="socials">
                <a href="https://www.facebook.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-fb.png" id="fb-icon" class="socials-icon"></a>
                <a href="https://www.instagram.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-ig.png" id="ig-icon" class="socials-icon"></a>
                <a href="https://x.com/sxmanila" target="_blank"><img src="../images/1-index/footer-x.png" id="x-icon" class="socials-icon"></a>
            </div>
        </div>

        <script src="../js/0-universal.js"></script>
        <script src="../js/2-events.js"></script>
    </body>

</html>