<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SX Manila | Homepage </title>
        <link rel="stylesheet" href="../css/1-index.css">
    </head>

    <body>
        <!--------------------HEADER-------------------->
        <div id="header">   
            <div id="current-events">
                <div id="text-container">
                    <p id="live-events">Show here current live events</p>
                    <p id="more-info">For more information <span class="highlight" style="cursor: pointer;" onclick="window.location.href='2-events.html';">Click Here</span></p>
                </div>
            </div>

            <div id="nav">
                <a href="4-admin-homepage.html">
                    <img id="nav-logo" src="../images/1-index/nav-logo.png" alt="logo">
                </a>
                
                <img id="nav-hamburger" src="../images/1-index/nav-hamburger.png" alt="menu hamburger">
        
                <div id="nav-panel">
                    <div id="nav-buttons">
                        <a href="4-admin-homepage.hbs">Home</a>
                        <a href="6-admin-about.hbs">About Us</a>
                        <a href="5-admin-events.hbs">Events</a>
                        <a href="#">Bookings</a>
                        <a href="#">Merchandise</a>
                        <a href="#" id="sign-in-link">Sign In</a>
                        <a href="/">Log Out</a>
                    </div>
                </div>
            </div>
            
            <div class="red-bar bottom-bar"></div>
        </div>

        <!--------------------SIGN IN-------------------->
        <div id="sign-in-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <img id="sign-in-logo" src="../images/1-index/nav-logo.png" alt="logo">

                <p class="popup-text">Welcome back</p>

                <form id="sign-in-form">
                    <input type="text" id="sign-in-email" name="email" placeholder="Email">
                    
                    <input type="password" id="sign-in-password" name="password" placeholder="Password">
                    
                    <label for="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me"> Remember me
                    </label>
                    
                    <button type="submit" id="sign-in-btn">Sign In</button>
                </form>

                <div id="to-register-container">
                    <p>No account yet? <button id="to-register-btn">Register</button>.</p>
                </div>
            </div>
        </div>

        <!--------------------REGISTER-------------------->
        <div id="register-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <p class="popup-text">Register</p>

                <form id="register-form">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">

                    <label for="register-email">Email</label>
                    <input type="text" id="register-email" name="email">

                    <label for="contact-number">Contact Number</label>
                    <input type="text" id="contact-number" name="contact-number">

                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="password">

                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password">

                    <button type="submit" id="register-btn">Register</button>
                </form>

                <div id="to-sign-in-container">
                    <p>Have an account already? <button id="to-sign-in-btn">Sign In</button>.</p>
                </div>
            </div>
        </div>

        <div id="buffer"></div>

        <!--------------------PAST EVENTS-------------------->
        <div id="past-events">
            <div id="slides-container">
                
                <div class="slides">
                    <img src="../images/1-index/slideshow-eras.png">
                </div>
    
                <div class="slides">
                    <img src="../images/1-index/slideshow-bewitched.png">
                </div>

                <div class="slides">
                    <img src="../images/1-index/slideshow-genshin.png">
                </div>

                <div class="red-bar bottom-bar"></div>
            </div>
        
            <div id="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

        </div>

        <!--------------------UPCOMING EVENTS-------------------->
        <div id="upcoming-events">

            <div id="upcoming-events-header">

                <p id="upcoming-events-title">Upcoming Events</p>

                <div id="upcoming-search-container">
                    <div id="upcoming-filter">
                        <img src="../images/1-index/upcoming-filter.png" alt="filter icon" id="upcoming-filter-icon">
                        
                    </div>

                    <!--------------------FILTER POPUP-------------------->
                    <div id="upcoming-filter-popup">
                        <div class="popup-content">
                            <span class="close-btn">&times;</span>

                            <p class="popup-text">Filter Options</p>

                            <form id="upcoming-filter-form">
                                <label for="event-type" class="filter-option-title">Event Type</label>
                                <div id="event-type-checkboxes">
                                    <input type="checkbox" id="concert" name="event-type" value="concert">
                                    <label for="concert">Concert</label><br>
                                    <input type="checkbox" id="choral" name="event-type" value="choral">
                                    <label for="choral">Choral</label><br>
                                    <input type="checkbox" id="game" name="event-type" value="game">
                                    <label for="game">Game</label><br>
                                </div>

                                <label for="location" class="filter-option-title">Location</label>
                                <input type="text" id="location" name="location">

                                <label for="date-range" class="filter-option-title">Date Range</label>
                                <input type="date" id="start-date" name="start-date">
                                <input type="date" id="end-date" name="end-date">

                                <button type="submit" id="apply-filters-btn">Apply Filters</button>
                            </form>
                        </div>
                    </div>

                    <div id="upcoming-search-bar">
                        <input type="text" id="upcoming-search-input" placeholder="Search">
                        <img src="../images/1-index/upcoming-search.png" alt="search icon" id="upcoming-search-icon">
                    </div>
                </div>

            </div>

            <!--------------------ADMIN: ADD NEW UPCOMING EVENT-------------------->
            <div id="add-upcoming-event">
                <button id="add-upcoming-event-btn">
                    <img src="../images/1-index/plus.png" alt="add icon" id="add-icon">
                    Add new upcoming event
                </button>
            </div>

            <!--------------------ADD UPCOMING EVENT POPUP-------------------->
            <div id="add-upcoming-event-popup">
                <button id="close-add-popup-btn" class="close-popup-btn">&lt;</button>

                <div id="popup-title">Add new event</div>

                <div id="add-upcoming-event-popup-content">

                    <form id="add-upcoming-event-form">
                        <label for="add-upcoming-title">Event Title</label><br>
                        <textarea type="text" id="add-upcoming-title" name="add-upcoming-title"></textarea><br>
                        
                        <label for="add-upcoming-date">Event Date</label><br>
                        <input type="date" id="add-upcoming-date" name="add-upcoming-date"><br>

                        <label for="add-upcoming-description">Event Description</label><br>
                        <textarea type="text" id="add-upcoming-description" name="add-upcoming-description" maxlength="100"></textarea><br>
                        
                        <label for="add-upcoming-venue">Event Venue</label><br>
                        <input type="text" id="add-upcoming-venue" name="add-upcoming-venue"><br>
                        
                        <label for="add-upcoming-merch-link">Merch Presale Link</label><br>
                        <input type="url" id="add-upcoming-merch-link" name="add-upcoming-merch-link"><br>
                        
                        <label for="add-upcoming-cover-photo" id="add-upcoming-cover-photo-label">Event Cover Photo</label>
                        <input type="file" id="add-upcoming-cover-photo" name="add-upcoming-cover-photo">
                        <div id="add-upcoming-cover-photo-img"></div>

                        <div class="add-upcoming-preview-buttons">
                            <button type="button" id="add-upcoming-preview-popup-btn">Preview event pop-up</button>
                            <button type="button" id="add-upcoming-preview-homepage-btn">Preview homepage</button>
                        </div>

                        <input type="submit" value="Publish new event">
                    </form>
                </div>
            </div>

            <!--------------------EDIT UPCOMING EVENT POPUP-------------------->
            <div id="edit-upcoming-event-popup">
                <button id="close-edit-popup-btn" class="close-popup-btn">&lt;</button>

                <div id="popup-title">Edit event</div>

                <div id="edit-upcoming-event-popup-content">
                    
                    <form id="edit-upcoming-event-form">
                        <label for="edit-upcoming-title">Event Title</label><br>
                        <textarea type="text" id="edit-upcoming-title" name="edit-upcoming-title"></textarea><br>
                        
                        <label for="edit-upcoming-date">Event Date</label><br>
                        <input type="date" id="edit-upcoming-date" name="edit-upcoming-date"><br>

                        <label for="edit-upcoming-description">Event Description</label><br>
                        <textarea type="text" id="edit-upcoming-description" name="edit-upcoming-description" maxlength="100"></textarea><br>
                        
                        <label for="edit-upcoming-venue">Event Venue</label><br>
                        <input type="text" id="edit-upcoming-venue" name="edit-upcoming-venue"><br>
                        
                        <label for="edit-upcoming-merch-link">Merch Presale Link</label><br>
                        <input type="url" id="edit-upcoming-merch-link" name="edit-upcoming-merch-link"><br>
                        
                        <label for="edit-upcoming-cover-photo">Event Cover Photo</label><br>
                        <input type="file" id="edit-upcoming-cover-photo" name="edit-upcoming-cover-photo" accept="image/*">
                        <img id="edit-upcoming-cover-photo-preview" src="" alt="Cover Photo Preview">
                        
                        <div class="edit-upcoming-preview-buttons">
                            <button type="button" id="edit-upcoming-preview-popup-btn">Preview event pop-up</button>
                            <button type="button" id="edit-upcoming-delete-event-btn">Delete event</button>
                        </div>

                        <input type="submit" value="Update event" id="update-event-btn">
                    </form>
                </div>
            </div>

            <div id="confirmationPopup" class="confirmation-popup">
                <div class="confirmation-popup-content">
                    <p>Are you sure you want to delete this event?</p>
                    <button id="confirmDeleteButton" class="confirm-btn">Yes</button>
                    <button id="cancelDeleteButton" class="cancel-btn">No</button>
                </div>
            </div>
                        

            <!--------------------UPCOMING EVENTS SLIDER-------------------->
            <div id="upcoming-events-slider">

                <div class="upcoming-slide" data-slide-number="1" data-title="Taylor Swift: The Eras Tour" data-date="2024-09-21" data-location="Mall of Asia MOA Arena, Pasay, NCR" data-type="concert">
                    <img src="../images/1-index/upcoming-eras.png" alt="eras" class="upcoming-poster">
                    <img src="../images/1-index/pencil.png" alt="edit icon" class="upcoming-edit-icon">

                    <div class="event-preview">
                        <div class="preview-text">
                            <p class="preview-date">SEPTEMBER 21, 2024</p>
                            <p class="preview-title">Taylor Swift: The Eras Tour<br>Live in Manila!</p>
                        </div>
                    </div>

                </div>
                
                <div class="upcoming-slide" data-slide-number="2" data-title="DLSU Chorale: Saliw Lasalyano" data-date="2024-03-16" data-location="De La Salle University Manila, NCR" data-type="choral">
                    <img src="../images/1-index/upcoming-saliw.png" alt="saliw" class="upcoming-poster">
                    <img src="../images/1-index/pencil.png" alt="edit icon" class="upcoming-edit-icon">

                    <div class="event-preview">
                        <div class="preview-text">
                            <p class="preview-date">MARCH 16, 2024</p>
                            <p class="preview-title">DLSU Chorale: Saliw Lasalyano<br>A Choral Festival</p>
                        </div>
                    </div>

                </div>

                <div class="upcoming-slide" data-slide-number="3" data-title="Genshin Impact Character Event Wish: The Hearth's Ashen Shadow Dire Balemoon Arlecchino" data-date="2024-04-24" data-location="Teyvat" data-type="game">
                    <img src="../images/1-index/upcoming-genshin.png" alt="genshin" class="upcoming-poster">
                    <img src="../images/1-index/pencil.png" alt="edit icon" class="upcoming-edit-icon">

                    <div class="event-preview">
                        <div class="preview-text">
                            <p class="preview-date">APRIL 24, 2024</p>
                            <p class="preview-title">The Hearth's Ashen Shadow<br>"Dire Balemoon" Arlecchino</p>
                        </div>
                    </div>

                </div>

            </div>

            <!--------------------UPCOMING EVENTS POPUPS-------------------->
            <div id="upcoming-event-popup-1" class="event-popup">

                <div class="event-popup-content">

                    <div class="popup-content-details">

                        <img src="../images/1-index/upcoming-popup-eras.png" class="upcoming-popup-poster" alt="popup poster">

                        <div class="upcoming-event-details">
                            <p class="event-title">Taylor Swift: The Eras Tour</p>
                            <p class="event-description">This is 100 characters. This is 100 characters. This is 100 characters. This is 100 characters. This</p>
                            <button class="merch-presale-btn" onclick="window.open('https://example.com')">Merch Presale</button>
                        </div>

                    </div>
                    
                </div>

            </div>
            
            <div id="upcoming-event-popup-2" class="event-popup">

                <div class="event-popup-content">

                    <div class="popup-content-details">

                        <img src="../images/1-index/upcoming-popup-saliw.png" class="upcoming-popup-poster" alt="popup poster">
                        
                        <div class="upcoming-event-details">
                            <p class="event-title">DLSU Chorale: Saliw Lasalyano</p>
                            <p class="event-description">This is 100 characters. This is 100 characters. This is 100 characters. This is 100 characters. This</p>
                            <button class="merch-presale-btn" onclick="window.open('https://example.com')">Merch Presale</button>
                        </div>

                    </div>

                </div>

            </div>

            <div id="upcoming-event-popup-3" class="event-popup">

                <div class="event-popup-content">

                    <div class="popup-content-details">

                        <img src="../images/1-index/upcoming-popup-genshin.png" class="upcoming-popup-poster" alt="popup poster">

                        <div class="upcoming-event-details">
                            <p class="event-title">"The Hearth's Ashen Shadow"</p>
                            <p class="event-description">This is 100 characters. This is 100 characters. This is 100 characters. This is 100 characters. This</p>
                            <button class="merch-presale-btn" onclick="window.open('https://example.com')">Merch Presale</button>
                        </div>

                    </div>

                </div>

            </div>

            <div id="upcoming-preview-buttons">
                <button type="button" id="discard-upcoming-preview">Discard event</button>
                <button type="button" id="save-upcoming-preview">Publish event</button>
            </div>

        </div>

        <!--------------------BOOKING SECTION-------------------->
        <div id="booking">
            <div id="red-rectangle"></div>

            <img src="../images/1-index/booking-taylor.png" alt="Booking Taylor">

            <div id="showstopper-text">
                <p>LET'S CREATE THE NEXT</p>
                <p>SHOWSTOPPER.</p>
            </div>

            <div id="booking-subtext">
                <p>Book an appointment with us!</p>
            </div>

        </div>

        <!--------------------FOOTER-------------------->
        <div id="footer">
            <p id="contact-us">CONTACT US</p>

            <div id="contact-details">
                <p>example@gmail.com</p>
                <p>+63 9XX XXXX</p>
            </div>

            <div id="socials">
                <a href="https://www.facebook.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-fb.png" id="fb-icon" class="socials-icon"></a>
                <a href="https://www.instagram.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-ig.png" id="ig-icon" class="socials-icon"></a>
                <a href="https://x.com/sxmanila" target="_blank"><img src="../images/1-index/footer-x.png" id="x-icon" class="socials-icon"></a>
            </div>
        </div>

        <script src="../js/0-universal.js"></script>
        <script src="../js/1-index.js"></script>
        <script src="../js/login.js"></script>
        <script src="../js/4-admin-homepage.js"></script>

    </body>

</html>