<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SX Manila | About Us </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/1-index.css">
    </head>

    <body>
        <!--------------------HEADER-------------------->
        <div id="header">   
            <div id="current-events">
                <div id="text-container">
                    <p id="live-events">Show here current live events</p>
                    <p id="more-info">For more information <span class="highlight" style="cursor: pointer;" onclick="window.location.href='2-events.hbs';">Click Here</span></p>
                </div>
            </div>

            <div id="nav">
                <a href="4-admin-homepage.hbs">
                    <img id="nav-logo" src="../images/1-index/nav-logo.png" alt="logo">
                </a>
                
                <img id="nav-hamburger" src="../images/1-index/nav-hamburger.png" alt="menu hamburger">
        
                <div id="nav-panel">
                    <div id="nav-buttons">
                        <a href="4-admin-homepage.hbs">Home</a>
                        <a href="6-admin-about.hbs">About Us</a>
                        <a href="5-admin-events.hbs">Events</a>
                        <a href="#">Bookings</a>
                        <a href="#">Merchandise</a>
                        <a href="#" id="sign-in-link">Sign In</a>
                        <a href="1-index.hbs">Log Out</a>
                    </div>
                    
                </div>
            </div>
            
            <div class="red-bar bottom-bar"></div>
        </div>

        <!--------------------SIGN IN-------------------->
        <div id="sign-in-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <img id="sign-in-logo" src="../images/1-index/nav-logo.png" alt="logo">

                <p class="popup-text">Welcome back</p>

                <form id="sign-in-form" action="/signin" method="post">
                    <input type="text" id="sign-in-email" name="email" placeholder="Email">
                    
                    <input type="password" id="sign-in-password" name="password" placeholder="Password">
                    
                    <label for="remember-me">
                        <input type="checkbox" id="remember-me" name="remember-me"> Remember me
                    </label>
                    
                    <button type="submit" id="sign-in-btn">Sign In</button>
                </form>

                <div id="to-register-container">
                    <p>No account yet? <button id="to-register-btn">Register</button>.</p>
                </div>
            </div>
        </div>

        <!--------------------REGISTER-------------------->
        <div id="register-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>

                <p class="popup-text">Register</p>

                <form id="register-form" action="/register" method="post">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">

                    <label for="register-email">Email</label>
                    <input type="text" id="register-email" name="email">

                    <label for="contact-number">Contact Number</label>
                    <input type="text" id="contact-number" name="contactNumber">

                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="password">

                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password">

                    <button type="submit" id="register-btn">Register</button>
                </form>

                <div id="to-sign-in-container">
                    <p>Have an account already? <button id="to-sign-in-btn">Sign In</button>.</p>
                </div>
            </div>
        </div>

        <div id="aboutUs-frame">
            <img class="aboutUs-framePicture" src="../images/3-aboutUs/performer-placeholder.jpg" alt="BOCCHI THE ROCK!">
            <span class="aboutUs-frameTitle">SOUND.<br>EXPERIENCE.<br>MANILA.</span>
        </div>
        <div id="edit-mission">
            <img id="edit-mission-check" class="edit-mission-save" src="../images/6-admin-aboutUs/check.png">
            <img id="edit-mission-cross" class="edit-mission-discard" src="../images/6-admin-aboutUs/cross.png">
            <span id="edit-mission-text"><span class="edit-mission-choice edit-mission-save">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;<span class="edit-mission-choice edit-mission-discard">Cancel</span></span>
            <img id="edit-mission-button" src="../images/6-admin-aboutUs/pencil.png" alt="Mission Edit">
        </div>
        <p id="mission-details">Delivering through with our<br>customers and clients by<br>organizing, planning, and executing<br>successful events.</p>

        <div id="servicesFrame">
            <div id="adServiceTitle" class="serviceTitle">OUR SERVICES</div>
            <div id="serviceButtons">
                <img id="serviceEdit" src="../images/6-admin-aboutUs/edit.png">
                <img id="serviceMinus" src="../images/6-admin-aboutUs/minus.png">
                <img id="servicePlus" src="../images/6-admin-aboutUs/plus.png">
            </div>
            <div class="service">
                <div id="edit-service">
                    <img id="edit-service-check" class="edit-service-save" src="../images/6-admin-aboutUs/check.png">
                    <img id="edit-service-cross" class="edit-service-discard" src="../images/6-admin-aboutUs/cross.png">
                    <img id="edit-service-logo" src="../images/6-admin-aboutUs/edit-white.png" alt="Visit Edit">
                    <span id="edit-service-text"><span class="edit-service-choice edit-service-save">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;<span class="edit-service-choice edit-service-discard">Cancel</span></span>
                </div>
                <div id="add-service">
                    <img id="add-service-check" class="add-service-save" src="../images/6-admin-aboutUs/check.png">
                    <img id="add-service-cross" class="add-service-discard" src="../images/6-admin-aboutUs/cross.png">
                    <img id="add-service-logo" src="../images/6-admin-aboutUs/plus-white.png" alt="Visit Edit">
                    <span id="add-service-text"><span class="add-service-choice add-service-save">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;<span class="add-service-choice add-service-discard">Cancel</span></span>
                </div>
                <div class="arrow left"></div>
                <div class="servicePictureFrame">
                    <img id="servicePictureEdit" src="../images/6-admin-aboutUs/editImg.png" alt="Edit Service Picture">
                    <img class="servicePicture" src="../images/3-aboutUs/service1.png" alt="Event Management & Live Staging">
                </div>
                <div class="serviceDescription">Event Management & Live Staging</div>
                <div class="arrow right"></div>
                <div id="dots">
                    <div class="dot" id="dot1"></div>
                    <div class="dot" id="dot2"></div>
                    <div class="dot" id="dot3"></div>
                </div>
            </div>
        </div>
        

        <div class="aboutUs-visitFrame">
            <img id="edit-visitPicture" src="../images/6-admin-aboutUs/newImg.png" alt="newVisitPicture">
            <img id="aboutUs-visitPicture" src="../images/3-aboutUs/tech-placeholder.jpg" alt="techtite">
            <div class="aboutUs-visitTextFrame">
                <div id="edit-visit">
                    <img id="edit-visit-check" class="edit-visit-save" src="../images/6-admin-aboutUs/check.png">
                    <img id="edit-visit-cross" class="edit-visit-discard" src="../images/6-admin-aboutUs/cross.png">
                    <span id="edit-visit-text"><span class="edit-visit-choice edit-visit-save">Save</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;<span class="edit-visit-choice edit-visit-discard">Cancel</span></span>
                    <img id="edit-visit-button" src="../images/6-admin-aboutUs/pencil.png" alt="Visit Edit">
                </div>
                <div class="aboutUs-visitText">
                    <span id="aboutUs-visitTextHeader">SX MANILA</span><br><br>
                    POST - a group that holds and organizes music event productions.<br><br>
                    From electrifying concerts to soul-stirring festivals, our passion for music and dedication to innovation shine through every beat.<br>
                    <div id="aboutUs-visitButton">
                        <a href="https://www.facebook.com/sxmanila/" target="_blank" id="aboutUs-visitButtonText">VISIT FB PAGE</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="footer">
            <p id="contact-us">CONTACT US</p>

            <div id="contact-details">
                <p>example@gmail.com</p>
                <p>+63 9XX XXXX</p>
            </div>

            <div id="socials">
                <a href="https://www.facebook.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-fb.png" id="fb-icon" class="socials-icon"></a>
                <a href="https://www.instagram.com/sxmanila/" target="_blank"><img src="../images/1-index/footer-ig.png" id="ig-icon" class="socials-icon"></a>
                <a href="https://x.com/sxmanila" target="_blank"><img src="../images/1-index/footer-x.png" id="x-icon" class="socials-icon"></a>
            </div>
        </div>

        <script src="../js/0-universal.js"></script>
        <script src="../js/3-about.js"></script>
        <script src="../js/6-admin-about.js"></script>
    </body>
</html>