@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

/* --------------------HEADER-------------------- */

#universal-search {
    position: relative;
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #f81b1b;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid whitesmoke;
    padding: 5px;
  }

  #universal-search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
  }

  #universal-search .fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color:white;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
  }

  #universal-search:hover {
    width: 300px;
    cursor: pointer;
  }

  #universal-search:hover input {
    display: block;
  }

  #universal-search:hover .fa {
    background: #f81b1b;
    color: white;
  }
/* ------------------------------------------- */

#header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

#current-events {
    background-color: #151515;
    padding: 10px;
    width: 100%;
}

#text-container {
    text-align: center;
    color: #FFFFFF
}

#live-events {
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 2px;
    font-weight: 200;
}

#more-info {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#more-info .highlight {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 1);
}

/* --------------------NAV BAR-------------------- */
#nav {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#nav-logo {
    height: 35px;
    margin: 10px;
}

#nav-hamburger {
    height: 27px;
    margin-right: 20px;
    display: block;
    cursor: pointer;
}

/* -------------------NAV PANEL-------------------- */
@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
@keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }  

#nav-panel {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 400px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    z-index: 1000;
    animation: slideIn 0.3s ease forwards;
}

#nav-panel.closing {
    animation: slideOut 0.3s ease forwards; /* Apply slide-out animation */
  }

#nav-buttons {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: auto;
}

#nav-panel a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #EA0029;
    margin-bottom: 25px;
}

/* --------------------SIGN-IN POP-UP-------------------- */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

@keyframes fadeInPopup {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeOut {
    animation: fadeOutPopup 0.3s ease forwards;
}

@keyframes fadeOutPopup {
    from { opacity: 1; }
    to { opacity: 0; }
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    opacity: 0;
    animation: fadeInPopup 0.3s ease forwards;
}

.close-btn {
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-content p {
    margin-top: 0;
}

.popup-text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#sign-in-logo {
    height: 60px;
    margin-top: 10px;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#sign-in-email,
#sign-in-password {
    width: 100%;
    padding: 8px;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    box-sizing: border-box;
}

#sign-in-email {
    margin-bottom: 20px;
}

#sign-in-password {
    margin-bottom: 13px;
}

input::placeholder {
    color: #999999;
}

#remember-me {
    transform: scale(1.5); 
    margin-left: 4px;
    margin-right: 6px;
    margin-bottom: 10px;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #EA0029;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 17px;
}

button[type="submit"]:hover {
    background-color: #c10023;
}

#to-register-container {
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-register-btn {
    background-color: transparent;
    border: none;
    color: #EA0029;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-register-btn:hover {
    color: #c10023;
}

/* --------------------REGISTER POP-UP-------------------- */
#register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#name,
#register-email,
#contact-number,
#register-password,
#confirm-password {
    width: 100%;
    padding: 8px;
    border: 1px solid #4A4A4A;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#to-sign-in-container {
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-sign-in-btn {
    background-color: transparent;
    border: none;
    color: #EA0029;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

#to-sign-in-btn:hover {
    color: #c10023;
}

#buffer {
    height: 121px;
}

/* --------------------PAST EVENTS SLIDESHOW-------------------- */
#past-events {
    position: relative;
    animation: fadeInFromLeft 1.5s ease;
}

#slides-container {
    position: relative;
}

.red-bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #EA0029
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

.slides {
    animation: fadeInSlideshow 1s ease forwards;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    transform: translateY(2px);
}

.slides img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

@keyframes fadeInSlideshow {
    from {opacity: .5} 
    to {opacity: 1}
}

#dots {
    text-align: center;
}

.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #E8E8E8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active {
    background-color: #EA0029;
}


/* --------------------UPCOMING EVENTS-------------------- */

#upcoming-events {
    padding-top: 17px;
    margin-bottom: 20px;
}

#upcoming-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#upcoming-events-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#upcoming-search-container {
    display: flex;
    align-items: center;
}

#upcoming-filter-icon {
    height: 27px;
    display: block;
    cursor: pointer;
}

#upcoming-filter-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

#upcoming-filter-popup .popup-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#upcoming-filter-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form horizontally */
    width: 100%; /* Set the form width to full */
}

.filter-option-title {
    font-weight: bold; /* Make all labels bold */
    padding-top: 14px;
}

#event-type-checkboxes {
    width: 85%; /* Adjust the width of the checkboxes */
}

#location,
#start-date,
#end-date {
    width: 60%; /* Adjust the width of the input bars */
}

#upcoming-filter-form label, 
#filter-form input, 
#filter-form select, 
#filter-form button {
    margin: 11px 0;
}

#apply-filters-btn {
    margin-top: 40px;
}

#upcoming-search-container {
    display: flex;
    align-items: center;
}

#upcoming-search-icon {
    color: #333;
    height: 10px;
    width: 10px;
}

#upcoming-search-bar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #15151540;
    border-radius: 25px; 
    width: 120px; /* Adjusts the width of the search bar */
    height: 20px;
}

#upcoming-search-input {
    border: none;
    outline: none;
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    width: 95px;
}

#upcoming-search-input::placeholder {
    color: #CCCCCC; /* Adjusts placeholder text color */
}

#upcoming-search-bar,
#upcoming-search-icon:hover {
    cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}

/* General popup styles */
#add-upcoming-event-popup, #edit-upcoming-event-popup, #edit-slide-popup {
    display: none;
    position: fixed;
    top: 124px;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
    background-color: white;
    z-index: 1000;
}

/* Popup content container */
#add-upcoming-event-popup-content, #edit-upcoming-event-popup-content {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: calc(100% - 60px); /* Adjust height as needed */
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    overflow: auto; /* Make the content scrollable */
    box-sizing: border-box;
}

/* Close button */
.close-popup-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
}

/* Popup title */
#popup-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

#add-upcoming-event-form, #edit-upcoming-event-form {
    width: 100%;
}

#add-upcoming-event-form label, 
#edit-upcoming-event-form label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

#add-upcoming-event-form input, 
#edit-upcoming-event-form input {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#add-upcoming-event-form select,
#add-upcoming-event-form input[type="text"],
#edit-upcoming-event-form select,
#edit-upcoming-event-form input[type="text"] {
    display: block;
    width: 100%;
    margin-top: 5px;
}

#add-upcoming-title,
#edit-upcoming-title {
    height: 65px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#add-upcoming-description,
#edit-upcoming-description {
    height: 125px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* File input for Add Upcoming Event */
#add-upcoming-cover-photo {
    display: none; /* Hide the actual file input */
}

/* Label styling remains as text */
#add-upcoming-cover-photo-label {
    display: block;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*BRUTE FORCE WAY WAKDJKSAJDK*/
/* Div acting as image button */
#add-upcoming-cover-photo-img {
    width: auto;
    max-width: 100%;
    height: 212px; 
    background-image: url('../images/1-index/add-image.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px; 
    cursor: pointer;
    margin: 10px; /*SEND HELP WHY IS THIS NOT WORKING T-T*/
}

#add-upcoming-cover-photo-img1 {
    width: auto;
    max-width: 100%;
    height: 212px; 
    background-image: url('../images/1-index/slideshow-eras.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px; 
    cursor: pointer;
    margin: 10px 0px 20px;
}

#add-upcoming-cover-photo-img2 {
    width: auto;
    max-width: 100%;
    height: 212px; 
    background-image: url('../images/1-index/slideshow-bewitched.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px 0px;
}

#add-upcoming-cover-photo-img3 {
    width: auto;
    max-width: 100%;
    height: 212px; 
    background-image: url('../images/1-index/slideshow-genshin.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 10px; 
    cursor: pointer;
    margin: 20px 0px;
}

.icon-images {
    display: inline;
    width: 43.18px;
    height: 43.18px;
    margin: 10px;
}

#edit-image-icon {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#trash-icon {
    margin-top: 5px;
}

/*
.slide-circle {
    position: relative;
    background-color: #B80022;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}*/


/* File input for Edit Upcoming Event */
#edit-upcoming-cover-photo {
    display: none; 
}

/* Label styling remains as text */
label[for="edit-upcoming-cover-photo"] {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Image preview container */
#edit-upcoming-cover-photo-preview {
    width: auto;
    max-width: 100%;
    height: 500px;
    border: 1px solid #ccc; /* Match the border style of input fields */
    border-radius: 10px; 
    cursor: pointer;
}

/* Preview buttons */
.edit-upcoming-preview-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.edit-upcoming-preview-buttons button {
    padding: 10px 15px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #4A4A4A; /* Adjust background color as needed */
    border: none;
    cursor: pointer;
}

.edit-upcoming-preview-buttons button:last-child {
    background-color: #EA0029; /* Adjust background color for the second button */
}

/* File input and image preview */
input[type="file"] {
    position: relative;
    opacity: 1;
    cursor: pointer;
}

/* Preview buttons */
.add-upcoming-preview-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 18px;
    margin-bottom: 5px;
}

.add-upcoming-preview-buttons button {
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

#add-upcoming-preview-popup-btn, #edit-upcoming-preview-popup-btn {
    background-color: #4A4A4A;
}

#add-upcoming-preview-homepage-btn, #edit-upcoming-delete-event-btn-btn {
    background-color: #EA0029;
}

/* Submit buttons */
input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #EA0029;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Buttons for adding and editing events */
#add-upcoming-event {
    display: flex;
    justify-content: center;
    margin: 7px 0;
}

#edit-upcoming-event {
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}


#add-upcoming-event-btn, #edit-upcoming-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94.3%;
    max-width: 800px;
    height: 33px;
    background-color: #EA0029;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.confirmation-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.confirmation-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.confirmation-popup-content p {
    margin-bottom: 20px;
}

.confirm-btn, .cancel-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.confirm-btn {
    background-color: #EA0029;
    color: white;
}

.cancel-btn {
    background-color: #4A4A4A;
    color: white;
}

#add-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

#upcoming-events-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0px 0;
    margin-left: 10px;
    position: relative;
}

.upcoming-slide {
    flex: 0 0 auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.upcoming-edit-icon {
    position: absolute;
    top: 10px;  
    right: 10px;  
    width: 24px;  
    height: 24px;  
    cursor: pointer;
    background-color: rgba(74, 74, 74, 0.31); 
    border-radius: 50%;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.upcoming-poster {
    height: 400px;
}

.event-preview {
    text-align: left;
    font-family: "Poppins", sans-serif;
    background-color: #F9F9F9;
}

.preview-text {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.preview-date {
    font-size: 12px;
    font-weight: 400;
    color: #151515;
}

.preview-title {
    font-size: 15px;
    font-weight: 500;
    color: #B80022;
}

.preview-subtitle {
    font-size: 15px;
    font-weight: 500;
    color: #B80022;
}

#upcoming-events-slider::-webkit-scrollbar {
    width: 8px;
    height: 2px;
    border-bottom: none;
}

#upcoming-events-slider::-webkit-scrollbar-track {
    background: #E9E9E9; /* Track color */
}

#upcoming-events-slider::-webkit-scrollbar-thumb {
    background: #EA0029; /* Handle color */
}

/* --------------------UPCOMING EVENTS POPUPS-------------------- */
.event-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.event-popup-content img {
    width: 100%;
    height: auto;
}

.event-popup-content {
    background-color: #fefefe;
    width: 85%;
    max-width: 400px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    opacity: 0;
    animation: fadeInPopup 0.3s ease forwards;
}

.event-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.event-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    word-wrap: break-word;
}

.merch-presale-btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #B80022;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 6px;
    margin-bottom: 10px;
}

#upcoming-preview-buttons {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed; 
    bottom: 0; 
    z-index: 1000;
    background-color: white;
    width: 100%;
    padding: 10px 0;
    padding-top: 12px;
}

#upcoming-preview-buttons button {
    padding: 7px 15px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #4A4A4A; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

#upcoming-preview-buttons button:last-child {
    background-color: #B80022;
}

/* --------------------BOOKING SECTION-------------------- */
#booking {
    background-color: #F7F7F7;
    position: relative;
    padding-bottom: 13px;
}

#red-rectangle {
    width: 80%;
    height: 220px;
    background-color: #B80022;
    margin: 25px auto 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.4);
}

#booking img {
    position: relative;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    height: 255px;
}

#showstopper-text {
    text-align: center;
    margin-top: 60px;
}

#showstopper-text p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    font-size: 23px;
    line-height: 1;
}

#booking-subtext {
    margin-top: 17px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
}

#book-now-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px; 
    background-color: #EA0029;
    color: white;
    border: none;
    border-radius: 800px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    font-size: 14px;
}

/* ------------------PAST EVENTS ---------------- */

#add-past-event {
    display: flex;
    justify-content: center;
    margin: 7px 0;
}

#add-past-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94.3%;
    max-width: 800px;
    height: 33px;
    background-color: #EA0029;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

#add-icon-past {
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.past-events-frame {
    border-top: 1px solid rgba(230,230,230,255);
    padding-bottom: 15px;
    color: #000000;
}

#past-events-header {
    margin-top:110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0px 15px;
}

#past-events-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #151515;
    margin-left: 18px;
}

#past-search-container {
    display: flex;
    align-items: center;
}

#past-filter {
    height: 27px;
    display: block;
    cursor: pointer;
}

#past-search-container {
    display: flex;
    align-items: center;
}

#past-search-icon {
    color: #333;
    height: 10px;
    width: 10px;
}

#past-search-bar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #15151540;
    border-radius: 25px; 
    width: 120px; /* Adjusts the width of the search bar */
    height: 20px;
}

#past-search-input {
    border: none;
    outline: none;
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    width: 95px;
}

#past-search-input::placeholder {
    color: #CCCCCC; /* Adjusts placeholder text color */
}

#past-search-bar,
#past-search-icon:hover {
    cursor: pointer; /* Optional: Changes cursor to pointer on hover */
}

.pastEventList {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 20px; /* Adds space between items */
    padding: 20px; /* Adds padding around the container */
}

.pastEvent {
    width: 340px;
    padding: 15px 25px;
    align-items: center;
    display: flex;
    flex-direction: column; /* Centers children vertically */
}

.pastEvent-image {
    height: 328px;
    width: 340px;
    object-fit: cover;
    object-position: 50% 10%;
}

.pastEvent-detailBox {
    height: 119px;
    width: 340px;
    background-color: rgba(234, 0, 41, 1);
    display: flex;
    align-items: center;
    margin-top: -4px;
}

.pastEvent-details {
    font-family: "Poppins", sans-serif;
    width: 340px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.04px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/* ------------------PAST EVENT POPUP---------------- */

.past-event-popup-content {
    width: 390px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}

.event-details {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.popupImage-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowPopup {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 50%;
}

.arrowPopup.left {
    left: 10px; 
    background-image: url("../images/3-aboutUs/leftArrow.png");
}

.arrowPopup.right {
    right: 10px;
    background-image: url("../images/3-aboutUs/rightArrow.png");
}

.arrowPopup.left:hover,
.arrowPopup.right:hover{
    filter: brightness(0%);
}

/* ---------------------ABOUT-------------------- */

#aboutUs-frame{
    width: 100%;
    height: 304px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    margin-top: 124px;
}

.aboutUs-framePicture {
    width: 50%;
    object-fit: cover;
    object-position: 40% 60%; /* 30% from the left, 70% from the top */
}

.aboutUs-frameTitle{
    width: 50%;
    float: right;
    display: flex; 
    background-color: rgb(247,247,247,255);
    align-items: center;
    /* Center vertically */
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 255);
    padding: 30px;
}

#edit-mission {
    background-color: rgba(74, 74, 74, 0.26);
    width: 35%;
    height: 23px;
    position: absolute;
    z-index: 1;
    left: 58%;
    margin: 15px;
    border-radius: 20px;
}

#edit-mission-check {
    width: 9px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25.5%;
    z-index: 1;
}

#edit-mission-cross {
    width: 13px;
    height: auto;
    position: absolute;
    top: 19%;
    left: 69.5%;
}

#edit-mission-text {
    position: relative;
    font-family: "Poppins";
    font-size: 10px;
    margin-left: 5%;
    top: 1px;
    color: #ffffff;
    line-height: 15px;
}

.edit-mission-choice {
    text-decoration: underline;
}

#edit-mission-button {
    width: 21px;
    height: auto;
    float: right;
    margin-right: 5px;
    margin-top: 1px;
    visibility: visible;
    z-index: 2;
}

#mission-frame {
    background-color: #EA0029;
    width: 100%;
    height: 170px;
}

#mission-details{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 22.5px;
    color: #FFFFFF;
    padding: 40px 60px;
    position: absolute;
}

#mission-field{
    width: 320px;
    height: 140px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400px;
    line-height: 22.5px;
    position: absolute;
    left: 9%;
    margin-top: 15px;
    padding: 23px 23px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 2px solid rgba(204, 204, 204, 1);
    border-radius: 5px;
}

#servicesFrame {
    background-color: #F7F7F7;
    height: 397px;
    width: 100%;
    padding: 0px;
}

.serviceTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#adServiceTitle {
    padding: 30px 0px 10px;
}

#regServiceTitle {
    padding: 30px 0px 35px;
}

#serviceEdit {
    position: relative;
    width: 20px;
    height: auto;
    left: 76%;
}

#serviceMinus {
    position: relative;
    width: 20px;
    height: auto;
    left: 76%;
}

#servicePlus {
    position: relative;
    width: 20px;
    height: auto;
    left: 76%;
}

.service {
    position: relative;
    background-color: #EA0029;
    margin: auto;
    width: 350px;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
}

#edit-service {
    background-color: rgba(74, 74, 74, 0.26);
    width: 38%;
    height: 23px;
    position: absolute;
    z-index: 1;
    left: 56%;
    margin: 15px;
    margin-top: -15px;
    border-radius: 20px;
}

#edit-service-check {
    width: 9px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 26%;
    z-index: 1;
}

#edit-service-cross {
    width: 13px;
    height: auto;
    position: absolute;
    top: 19%;
    left: 70%;
}

#edit-service-text {
    position: relative;
    font-family: "Poppins";
    font-size: 10px;
    margin-left: 5%;
    top: 1px;
    color: #ffffff;
    line-height: 15px;
}

.edit-service-choice {
    text-decoration: underline;
}

#edit-service-logo {
    width: 17.5px;
    height: auto;
    float: right;
    margin-right: 8px;
    margin-top: 1px;
    z-index: 2;
}

#delete-service {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

#delete-service-popup {
    background-color: #fefefe;
    padding: 20px;
    max-width: 370px;
    border-radius: 13px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInPopup 0.3s ease forwards;
}

#delete-service-prompt {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

#delete-service-options {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin: 20px -10px -5px;
}

#delete-service-no {
    height: 30px;
    width: 48%;
    background-color: rgba(153, 153, 153, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#delete-service-yes {
    height: 30px;
    width: 48%;
    background-color: rgba(234, 0, 41, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add-service {
    background-color: rgba(74, 74, 74, 0.26);
    width: 38%;
    height: 23px;
    position: absolute;
    z-index: 1;
    left: 56%;
    margin: 15px;
    margin-top: -15px;
    border-radius: 20px;
}

#add-service-check {
    width: 9px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 26%;
}

#add-service-cross {
    width: 13px;
    height: auto;
    position: absolute;
    top: 19%;
    left: 70%;
}

#add-service-text {
    position: relative;
    font-family: "Poppins";
    font-size: 10px;
    margin-left: 5%;
    top: 1px;
    color: #ffffff;
    line-height: 15px;
}

.add-service-choice {
    text-decoration: underline;
}

#add-service-logo {
    width: 17.5px;
    height: auto;
    float: right;
    margin-right: 8px;
    margin-top: 1px;
    z-index: 2;
}

.arrow {
    position: absolute;
    top: 37%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.arrow.left {
    left: 5px;
    background-image: url("../images/3-aboutUs/leftArrow.png");
}

.arrow.right {
    right: 5px;
    background-image: url("../images/3-aboutUs/rightArrow.png");
}

.arrow.left:hover,
.arrow.right:hover{
    filter: brightness(0%);
}

.servicePictureFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 146px;
    width: auto;
    object-fit: cover;
}

#servicePictureEdit {
    position: absolute;
    width: 30px;
    height: auto;
    top: 55%;
    left: 60%;
}

.servicePicture {
    height: inherit;
    width: auto;
    margin: 0 auto;
}

#serviceDescription {
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
    padding: 10px 0px;
}

#editServiceDescription {
    width: 88.5%;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: -42px;
    padding-top: 6px;
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.16);
    border: 2px solid rgba(204, 204, 204, 1);
    border-radius: 5px;
}

.aboutUs-visitFrame {
    height: 640px;
    width: 100%;
    background: rgba(184, 0, 34, 1);
}

#visitImageInput {
    height: 0px;
}

#edit-visitPicture {
    position: absolute;
    width: 10%;
    height: auto;
    left: 89%;
}

#aboutUs-visitPicture {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.aboutUs-visitTextFrame {
    height: 400px;
    width: 100%;
}

#edit-visit {
    background-color: rgba(74, 74, 74, 0.26);
    width: 35%;
    height: 23px;
    position: absolute;
    z-index: 1;
    left: 58%;
    margin: 15px;
    border-radius: 20px;
}

#edit-visit-check {
    width: 9px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25.5%;
    z-index: 1;
}

#edit-visit-cross {
    width: 13px;
    height: auto;
    position: absolute;
    top: 19%;
    left: 69.5%;
}

#edit-visit-text {
    position: relative;
    font-family: "Poppins";
    font-size: 10px;
    margin-left: 5%;
    top: 1px;
    color: #ffffff;
    line-height: 15px;
}

.edit-visit-choice {
    text-decoration: underline;
}

#edit-visit-button {
    width: 21px;
    height: auto;
    float: right;
    margin-right: 5px;
    margin-top: 1px;
    visibility: visible;
    z-index: 2;
}

.aboutUs-visitText {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    color: rgba(255, 242, 234, 1);
    padding: 40px 35px;
}

#aboutUs-visitEdit {
    position: absolute;
    z-index: 1;
    width: 21px;
    height: auto;
    left: 87%;
    margin: 15px;
    margin-top: 8px;
}

#aboutUs-visitTextHeader {
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 800;
    line-height: 54px;
    text-align: left;    
    position: absolute;
}

#aboutUs-editVisitHeader {
    width: 85%;
    height: 53px;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 800;
    margin: 0px -7px;
    padding-left: 5px;
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.16);
    border: 2px solid rgba(204, 204, 204, 1);
    border-radius: 5px;
}

#aboutUs-visitDescription {
    width: 82%;
    position: absolute;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 242, 234, 1);
}

#aboutUs-editVisitDescription {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: rgba(255, 242, 234, 1);
    width: 88%;
    height: 150px;
    margin: -11px -12px;
    position: absolute;
    padding: 10px;
    padding-right: 9px;
    padding-top: 9px;
    line-height: 19.5px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 2px solid rgba(204, 204, 204, 1);
    border-radius: 5px;
}

#aboutUs-visitButton {
    width: 140px;
    height: auto;
    padding: 55px 0px 30px;
}

#aboutUs-visitButtonText {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 5px 20px;
}

a:link, a:visited {
    color: #ffffff;
}

/* --------------------FOOTER-------------------- */
#footer {
    background-color: #000000;
    color: #FFFFFF;
    position: relative;
}

#contact-us {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 23px;
    padding-left: 23px;
    letter-spacing: 1.2px;
    line-height: 20px;
}

#contact-details {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 22px;
    padding-top: 4px;
    padding-left: 23px;
}

#socials {
    padding-top: 20px;
    padding-bottom: 23px;
    padding-left: 21px;
}

.socials-icon {
    height: 21px;
    width: 22px;
    margin-right: 9px;
    cursor: pointer;
}



/* edit past events layout */
.editPastEvents {
    display: flex;
    margin-top: 100px;
}
.divider {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 20px;
    width: 200px; /* Set the fixed width of the box */
    overflow: hidden; /* Hide any content that overflows the box */
}
.divider-left {
    flex: 0 0 40%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.divider-right {
    flex: 0 0 60%; 
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
/* Media query for mobile devices */
@media (max-width: 1080px) {
    .editPastEvents {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .divider {
        flex: 1 1 auto; /* Allow boxes to take full width */
        width: auto; /* Reset fixed width */
    }
}

/* title and cover image */
.editPastEventTitle {
    margin-top: 10px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.coverImage-container {
    border: 1px solid #000;
    border-style: dashed;
    position: relative;
    width: calc(100% - 4px); /* 100% width minus 4px for padding (2px each side) */
    padding: 2px;
    box-sizing: border-box; /* Include padding in the element's total width */
}
.coverImage-container img {
    width: 100%; /* Make the image fill the entire width of the coverImage-container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Scale the image while preserving its aspect ratio to cover the entire box */
}

/* add image to gallery */
.addImageGallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 3px;
}
.hollow-box {
    position: relative; /* Make the hollow box a positioning context */
    width: 112px; /* Set the width of the hollow box */
    height: 112px; /* Set the height of the hollow box */
    margin: 10px; /* Set the margin of the hollow box */
}
.uploadImage-hollowbox{
    border: 1px solid #000; /* Set the border of the hollow box */
    border-style: dashed;
}
.hollowbox-picture {
    width: 100%; /* Make the image fill the entire width of the hollow box */
    height: 100%; /* Make the image fill the entire height of the hollow box */
    object-fit: cover; /* Scale the image while preserving its aspect ratio to cover the entire box */
    position: absolute; /* Position the image absolutely inside the hollow box */
    top: 0; /* Align the image to the top of the hollow box */
    left: 0; /* Align the image to the left of the hollow box */
}
.hollowbox-deleteIcon {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 15%; /* Adjust the width and height based on your delete icon */
    height: 15%;
    cursor: pointer;
}

/* Buttons for preview and publishing */
.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* 20px spacing between buttons */
    width: 100%;
    margin-top: 20px; /* Add some spacing above the buttons */
}
.editPastEvent-button {
    width: 50%;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    line-height: 10px;
}
.previewEventAlbum {
    background-color: #4A4A4A;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.publishEventAlbum {
    background-color: #EA0029;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

/* Hide file input */
input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}